.cart-dropdown-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  position: absolute;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 85px;
  right: 72px;
  z-index: 5;

  .cart-items {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}
