.cart-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    position: absolute;
    top: 12px;
    font-size: 10px;
    font-weight: bold;
  }
}
